{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <style>
        .box {
            width: 30%;
            height: 30%;
        }

        .image {
            width: 100%;
            height: 100%;
        }
    </style>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>

    <!-- Encabezado de la página -->
    <div id="subheader">

        <!-- Título -->
        <div style="float:left; margin:0px;">
            <a href="/shop/"><h2>My shop</h2></a>
        </div>
        
        <!-- Información del carrito de compras -->
        <div class="cart" style="float:right; margin-right:10px; margin-top: 20px;">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Your cart: 
                    <a href="{% url "cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>

        <div style="float:right; margin-right:5px; margin-top: 20px;">
            <img class="logo" width="30px" src="{% static "img/cart.png" %}">
        </div>

        <!-- Botón para cancelar la orden -->
        <div class="cart" style="float:right; margin-right:30px; margin-top: 20px;">
            <a href="">Cancel order</a>
        </div>

    </div>

    <!-- Contenido de la página -->

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>